.top {
    display: flex;
    justify-content: space-between;
}

.home {
    padding: 2% 10%;
}

.login-buttons {
    display: flex;
    align-items: center;
}

.slogan {
    font-family: 'Playfair Display';
    font-size: x-large;
    font-weight: bold;
    color: #857E97;
}