.profile-wallet-container {
    background-color: white;
    font-family: 'Oswald';
    padding: 1% 5% 5% 5%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #808080;
}

.profile-wallet-header {
    text-align: left;
}

.wallet-contents {
    display: flex;
    align-items: center;
}

.balance-container {
    background-color: #F5F5F5;
    width: 30%;
    height: 150px;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #808080;
}

.balance-amount {
    font-size: 55px;
    color: #A59DB7;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 10%;
    padding-bottom: 2%;
}

.wallet-action {
    background-color: #A59DB740;
    box-shadow: 0px 2px 5px #808080;
    width: 25%;
    height: 150px;
    margin-left: 5%;
    border-radius: 10px;
    padding: 2%;
    cursor: pointer;
}

.wallet-action:hover{
    box-shadow: 1px 2px 9px #000000;
}

.payment-container {
    background-color: #c0bdcf;
    width: 400px;
    height:520px;
    font-family: 'Oswald';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0% 2%;
    border-radius: 10px;
}

.close-icon {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}

.payment-buttons {
    display: flex;
    justify-content: space-evenly;
}

.recharge-container {
    background-color: #c0bdcf;
    width: 400px;
    height:300px;
    font-family: 'Oswald';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0% 2%;
    border-radius: 10px;
}

.transaction-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    padding: 2% 5%;
    border-radius: 10px;
    margin-top: 3%;
}

.transaction-log {
    margin-top: 5%;
}

.neg-transaction-amount {
    color: red;
    font-size: 30px;
    margin-block-start: 1%;
    margin-block-end: 1%;
}

.pos-transaction-amount {
    color: green;
    font-size: 30px;
    margin-block-start: 1%;
    margin-block-end: 1%;
}

