.searchBox {
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    vertical-align: middle;
}

.filterBtn {
    padding: 0.5rem;
    background-color: #A59DB740;
    border-radius: 10px;
    margin-left: 1rem;
}